

button{
    width:100px;
    height:40px;
    margin:40px;
    border:1px solid green;
    border-radius:5px;
    background-color:rgb(39, 82, 120);
    color: white;

}

button1{
   padding: 11px;
    margin:40px;
    border:1px solid green;
    border-radius:5px;
    background-color:grey;
    color: white;
}

button2{
    padding: 11px;
     margin:40px;
     border:1px solid green;
     border-radius:5px;
     background-color:green;
     color: white;
  }

  button3{
    padding: 11px;
     margin:40px;
     border:1px solid green;
     border-radius:5px;
     background-color:blue;
     color: white;
 
 }

 button4{
    padding: 11px;
     margin:40px;
     border:1px solid green;
     border-radius:5px;
     background-color:rgb(233, 233, 30);
     color: white;
 
 }

 button5{
    padding: 11px;
     margin:40px;
     border:1px solid green;
     border-radius:5px;
     background-color:red;
     color: white;
 
 }

 button6{
    padding: 11px;
     margin:40px;
     border:1px solid green;
     border-radius:15px;
     background-color:blue;
     color: white;
 
 }

 button7{
     padding: 16px;
     margin:40px;
     border:1px solid green;
     border-radius:30px;
     background-color:blue;
     color: white;
 
 }

 
 button8{
    padding: 16px;
    width:100px;
    height:40px;
    margin:40px;
    border:1px solid green;
    border-radius:5px;
    background-color:blue;
    color: white;

}

button9{
    padding: 16px;
     margin:40px;
     border:1px solid green;
     border-radius:5px;
     border-style:dashed;
     background-color:white;
     color: blue;
 }

 button10{
    padding: 16px;
     margin:40px;
     border:none;
     border-radius:none;
    
     background-color:white;
     color: blue;
 }

 button11{
    padding: 11px;
     margin:40px;
     border:1px solid green;
     border-radius:5px;
     background-color:blue;
     color: white;
 
 }

 button12{
    padding: 11px;
     margin:40px;
     border:1px solid blue;
     border-radius:none;
     background-color:white;
     color: blue;;
 
 }

 button13{
    padding: 11px;
     margin:40px;
     border:1px solid green;
     border-radius:5px;
     background-color:blue;
     color: white;
 
 }

 button14{
    padding: 11px;
     margin:40px;
     border:1px solid blue;
     border-radius:5px;
     background-color:white;
     color: blue;
 
 }

 .style{
    margin-top:70px;
 }

 button15{
    padding: 11px;
    margin:40px;
    border:1px solid blue;
    border-radius:5px;
    background-color:white;
    color: blue;
 }

 button16{
    padding: 11px;
    margin:40px;
    border:1px solid blue;
    border-radius:5px;
    background-color:white;
    color: blue;
 }

 button17{
    padding: 11px;
    margin:40px;
    border:5px solid blue;
    box-shadow:3px 3px;
    background-color:white;
    color: blue;
 }

 button18{
    padding: 11px;
     margin:40px;
     border:1px solid green;
     border-radius:1px;
     background-color:blue;
     color: white;
 }

 button19{
    padding: 11px;
     margin:40px;
     border:1px solid green;
     width:20%;
     border-radius:20px;
     background-color:blue;
     color: white;
 
 }

 button20{
    padding: 11px;
    margin:40px;
    border:1px solid blue;
    border-radius:5px;
    background-color:white;
    color: blue;
 }

 button21{
    padding: 16px;
     margin:40px;
     border:none;
     border-radius:5px;
     background-color:white;
     color: blue;
 }











